/* Open Sans */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');

:root {
    --nav-padding: 6rem;
    --primary: #5c6bc0;
    --primary-light: #8e99f3;
    --primary-dark: #26418f;
    --primary-text: #fff;
    --danger: #ef5350;
    --danger-light: #ff867c;
    --danger-dark: #b61827;
    --success: #66bb6a;
    --success-light: #98ee99;
    --success-dark: #338a3e;
    --secondary: #bdbdbd;
    --secondary-light: #efefef;
    --secondary-dark: #8d8d8d;
    --secondary-text: #000;
}

*{
    margin: 0;
}


body{
    font-family: 'Open Sans', sans-serif;   
}

/* Nav */

nav{
    display: flex;
    padding: 20px;
    color: var(--primary-text);
    background-color: var(--primary);
}


nav h1 a{
    transition-duration: 0.3s;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 300px;
    height: 60px;
    text-decoration: none;
    color: var(--primary-text);
}

nav h1 a:hover{
    font-size: 30px;
}

div.nav-buttons{
    border: 1px solid var(--primary-light);
    overflow: hidden;
    border-radius: 100px;
}

div.nav-buttons ul{
    padding: 0;
    list-style: none;
    display: flex;
}

div.nav-buttons ul li a{
    display: block;
    transition-duration: 0.15s;
    text-decoration: none;
    color: var(--primary-text);
    padding: 15px 25px;
}

div.nav-buttons ul li a:hover{
    background-color: var(--primary-light);
    color: #fff;
}

    div.nav-buttons ul li a.active{
    background-color: var(--primary-light);
    color: #fff;
}

nav div.left{
    display: flex;
    align-items: center;
    width: 20%;
    padding-left: var(--nav-padding);
}

nav div.center{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

nav div.right{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    width: 80%;
    padding-right: var(--nav-padding);
}

@media screen and (max-width: 1240px){
    nav {
        flex-direction: column;
    }

    nav div.left{
        display: flex;
        width: 100%;
        align-items: center;
        justify-content: center;
        padding: 0;
    }

    nav div.right{
        display: flex;
        width: 100%;
        align-items: center;
        justify-content: center;
        padding: 0;
    }
}

@media screen and (max-width: 806px){
    div.nav-buttons{
        border-radius: 18px;
    }

    div.nav-buttons ul{
        padding: 0;
        list-style: none;
        display: flex;
        flex-direction: column;
    }
}

/* Sections */

div.container{
    height: 100vh;
    min-height: 100%;
    display: flex;
    flex-direction: column;
}

section{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex: 1;
}

section h1{
    padding: 10px;
    font-size: 40px;
    text-align: center;
}

section.infoIndex p{
    padding: 20px;
    width: 60%;
}

section.login{
    background-color: var(--primary);
    padding: 10px;
}

section.infoIndex{
    background-color: var(--primary);
    color: var(--primary-text);
    padding: 10px;
}

section.sitemap{
    background-color: var(--primary);
    color: var(--primary-text);
    padding: 10px;
}

section.sitemap div.grid{
    display: grid;
    margin: 12px;
    grid-column-gap: 24px;
    grid-row-gap: 24px;
    grid-template-columns: repeat(2, 1fr);
}

section.sitemap div.grid a.cards{
    transition: 0.15s;
    display: flex;
    width: 300px;
    height: 100px;
    background-color: white;
    text-decoration: none;
    color: var(--primary);
    text-transform: uppercase;
    font-weight: 700;
    border-radius: 18px;
    align-items: center;
    justify-content: center;
}

section.sitemap div.grid a.cards:hover{
    background-color: var(--secondary-light);
}

section.sitemap div.grid a.cards:active{
    background-color: var(--secondary);
}

section.login div.containerLogin{
    color: #000;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 60%;
    border-radius: 18px;
    border: 2px solid var(--primary-light);
    background-color: #fff;
}

section.login div.containerLogin div.title{
    padding: 20px;
    color: var(--primary-dark);
}

section.login div.containerLogin div.title h1{
    font-weight: 700;
    text-align: center;
    font-size: 30px;
}

section.login div.containerLogin form{
    margin: 30px;
}

section.login div.containerLogin form div{
    margin: 5px 0;
}

section.login div.containerLogin form div.input{
    display: flex;
    flex-direction:row;
    align-items: center;
    border: 1px solid var(--primary-light);
    border-radius: 18px;
    overflow: hidden;
}

label{
    font-weight: 500;
    font-size: 12px;
    color: var(--secondary-dark);
}

section.login div.containerLogin form div.input input{
    width: 100%;
    padding: 20px;
    border: none;
}

section.login div.containerLogin form div.input input:focus{
    outline: none;
}

section.login div.containerLogin form div.input a.showPassword{
    transition-duration: 0.15s;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    border-radius: 100%;
    width: 40px;
    min-width: 40px;
    height: 40px;
    color: var(--secondary);
    margin: 5px;
}

section.login div.containerLogin form div.input a.showPassword:hover{
    background-color: var(--secondary-light);
}

section.login div.containerLogin form div.input a.showPassword:active{
    color: white;
    background-color: var(--secondary-dark);
}

section.login div.containerLogin form a.button{
    transition-duration: 0.15s;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    font-weight: 700;
    border-radius: 18px;
    padding: 20px 10px;
    color: var(--primary-light);
    border: 1px solid var(--primary-light);
    margin: 5px 0;
}

section.login div.containerLogin form a.button:hover{
    border: 1px solid var(--primary-dark);
    color: var(--primary-dark);
}

section.login div.containerLogin form a.button:active{
    border: 1px solid var(--primary-light);
    background-color: var(--primary-light);
    color: white;
}

section.login div.containerLogin form a.buttonRegistro{
    transition-duration: 0.3s;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    font-weight: 600;
    border-radius: 18px;
    padding: 10px 10px;
    color: var(--primary-light);
    margin: 5px 0;
    text-align: center;
}

section.login div.containerLogin form a.buttonRegistro:hover{
    color: var(--primary-dark);
}

section.login div.containerLogin form hr{
    margin: 20px 0;
    border: 1px dashed var(--secondary-light);
}

section.login div.grid{
    display: grid;
    grid-column-gap: 24px;
    grid-row-gap: 24px;
    grid-template-columns: repeat(3, 1fr);
}

@media screen and (max-width: 1265px){
    div.grid{
        grid-template-columns: repeat(2, 1fr);
    }
}

@media screen and (max-width: 765px){
    div.grid{
        grid-template-columns: repeat(1, 1fr);
    }
}

/* Páginas */

div.wrap{
    display: flex;
    flex-direction: column;
}

section.page{
    flex: 1;
    margin: 25px;
    padding: 10px;
}

section.page div.empresas{
    
}

section.page div.empresas div.grid{
    display: grid;
    gap: 10px;
    grid-template-columns: repeat(4, 1fr);
}

@media screen and (max-width: 1115px){
    section.page div.empresas div.grid{
        grid-template-columns: repeat(3, 1fr);
    }
}

@media screen and (max-width: 852px){
    section.page div.empresas div.grid{
        grid-template-columns: repeat(2, 1fr);
    }
}

@media screen and (max-width: 765px){
    section.page div.empresas div.grid{
        grid-template-columns: repeat(1, 1fr);
    }
}

section.page div.empresas div.grid div.cards{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: var(--secondary-light);
    border: 1px solid rgba(142, 154, 243, 0.25);
    width: 200px;
    height: 300px;
    padding: 25px;
    border-radius: 18px;
    
}

section.page div.empresas div.grid div.cards img{
    width: 150px;
    border: 1px solid rgba(142, 154, 243, 0.25);
    border-radius: 100%;
}

section.page div.empresas div.grid div.cards h1.title{
    font-size: 22px;
    color: var(--primary-dark);
    padding: 10px 0 0 0;
    font-weight: 700;
    text-transform: uppercase;
}

section.page div.empresas div.grid div.cards p.desc{
    font-size: 14px;
    text-align: center;
}
section.page div.vagas{
    
}

section.page div.vagas div.grid{
    display: grid;
    gap: 10px;
    grid-template-columns: repeat(4, 1fr);
}

@media screen and (max-width: 1115px){
    section.page div.vagas div.grid{
        grid-template-columns: repeat(3, 1fr);
    }
}

@media screen and (max-width: 852px){
    section.page div.vagas div.grid{
        grid-template-columns: repeat(2, 1fr);
    }
}

@media screen and (max-width: 765px){
    section.page div.vagas div.grid{
        grid-template-columns: repeat(1, 1fr);
    }
}

section.page div.vagas div.grid div.cards{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: var(--secondary-light);
    border: 1px solid rgba(142, 154, 243, 0.25);
    width: 300px;
    height: 150px;
    padding: 25px;
    border-radius: 18px;
    
}

section.page div.vagas div.grid div.cards img{
    width: 150px;
    border: 1px solid rgba(142, 154, 243, 0.25);
    border-radius: 100%;
}

section.page div.vagas div.grid div.cards h1.title{
    font-size: 22px;
    color: var(--primary-dark);
    padding: 10px 0 0 0;
    font-weight: 700;
    text-transform: uppercase;
}

section.page div.vagas div.grid div.cards p.desc{
    font-size: 14px;
    text-align: center;
}

section.page div.verCurriculoBtn{
    display: flex;
    text-align: left;
    width: 100%;
}

section.page div.verCurriculoBtn div.left{
    width: 50%;
    display: flex;
}

section.page div.verCurriculoBtn div.right{
    width: 50%;
    display: flex;
    justify-content: flex-end;
}

section.page img.fotoCurriculoCard{
    position: relative;
    margin-top: -175px;
    top: 175px;
    width: 250px;
    border: 1px solid rgba(142, 154, 243, 0.25);
    border-radius: 100%;
    
}

section.page div.curriculoCard{
    background-color: var(--secondary-light);
    border-radius: 18px;
    width: 100%;
    padding: 25px;
    padding-top: 150px;
    border: 1px solid rgba(142, 154, 243, 0.25);
}

section.page div.curriculoCard div.infoCandidato{
    margin-bottom: 25px;
}

section.page div.curriculoCard div.infoCandidato h1{
    text-transform: capitalize;
    font-weight: 700;
    color: var(--primary-dark);
}

section.page div.curriculoCard div.infoCandidato p{
    text-align: center;
    font-weight: 700;
}

section.page div.curriculoCard div.grid{
    display: grid;
    gap: 50px;
    grid-template-columns: repeat(2, 1fr);
}

section.page div.curriculoCard div.iconsMedia{
    display: flex;
    justify-content: center;
}

section.page div.curriculoCard hr{
    margin: 5px 0;
    height: 1px;
    border-top: 4px dotted rgba(141, 141, 141, 0.5);
}

section.page div.curriculoCard h2{
    text-transform: capitalize;
    font-weight: 700;
    color: var(--primary-dark);
}

section.page div.curriculoCard h2.right{

}

section.page div.curriculoCard div.sobre{
    margin: 25px 0;
}

section.page div.curriculoCard div.sobre h2{
    text-align: center;
    margin: 10px;
}

section.page div.candidatos-aplicantes{
}

section.page div.candidatos-aplicantes div.candidatoCard{
    display: grid;
    gap: 30px;
    grid-template-columns: repeat(4, 1fr);
    width: 800px;
    padding: 20px;
    border-radius: 18px;
    background-color: var(--secondary-light);
    border: 1px solid rgba(142, 154, 243, 0.25);
    align-items: center;
    margin: 10px 0;
}
section.page div.candidatos-aplicantes div.candidatoCard div.image{
    display: flex;
    justify-content: center;
    align-items: center;
}
section.page div.candidatos-aplicantes div.candidatoCard div.image img{
    border-radius: 100%;
    border: 1px solid rgba(142, 154, 243, 0.5);
    width: 150px;
}

div.info-grid{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

section.page div.candidatos-aplicantes div.candidatoCard div.info1{
    width: 50%;
    grid-column: 1/4;
}

section.page div.candidatos-aplicantes div.candidatoCard div.info1 h1{
    text-align: left;
    font-weight: 700;
    color: var(--primary-dark);
    padding: 0;
}

section.page div.candidatos-aplicantes div.candidatoCard div.info1 h3{
    text-align: left;
    font-weight: 500;
    padding: 0;
}

section.page div.candidatos-aplicantes div.candidatoCard div.info2{
    text-align: center;
    align-items: center;
    display: flex;
}

section.page div.candidatos-aplicantes div.candidatoCard div.info2 h1,h3{
    padding: 0;
}

section.page div.candidatos-aplicantes div.candidatoCard div.info2 h3{
    font-weight: 700;
    color: var(--primary-dark);
}

section.page div.candidatos-aplicantes div.candidatoCard div.info2 h1{
    font-weight: 400;
}

section.page div.curriculoCard div.sobre p{
    font-weight: 600;
    text-align: justify;
}

form.formCriarCurriculo{
    display: flex;
}


label{
    font-weight: 500;
    font-size: 12px;
    color: var(--secondary-dark);
}

.center-flex{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 20px 0;
}

form.formCriarCurriculo div.input{
    display: flex;
    width: auto;
    flex-direction:row;
    align-items: center;
    border: 1px solid var(--primary-light);
    border-radius: 18px;
    overflow: hidden;
}

form.formCriarCurriculo input.full-width{
    width: 800px;
}
form.formCriarCurriculo input{
    margin: 5px 0;
    padding: 15px 20px;
    width: 500px;
    border: none;
    border-radius: 18px;
    border: 1px solid var(--primary-light);
}

form.formCriarCurriculo div.input textarea{
    resize: none;
    width: 100%;
    height: 300px;
    overflow-wrap: break-word;
    padding: 20px;
    border: none;
}

form.formCriarCurriculo div.input input:focus{
    outline: none;
}


/* Components */

header{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 50px 0;
    background: rgb(92,107,192);
    background: linear-gradient(180deg, rgba(92,107,192,0.2) 0%, rgba(140,154,237,0.2) 100%);
}

header h1.page-title{
    color: var(--primary-dark);
}

a.button{
    transition-duration: 0.15s;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    font-weight: 700;
    border-radius: 18px;
    padding: 10px 25px;
    color: var(--primary-light);
    border: 1px solid var(--primary-light);
    margin: 10px 0;
}

a.button:hover{
    border: 1px solid var(--primary-dark);
    color: var(--primary-dark);
}

a.button:active{
    border: 1px solid var(--primary-dark);
    background-color: var(--primary-dark);
    color: white;
}

a.button.danger{
    color: var(--danger-light);
    border: 1px solid var(--danger-dark);
}

a.button.danger:hover{
    border: 1px solid var(--danger-dark);
    color: var(--danger-dark);
}

a.button.danger:active{
    border: 1px solid var(--danger-dark);
    background-color: var(--danger-dark);
    color: white;
}

a.button.success{
    color: var(--success);
    border: 1px solid var(--success);
}

a.button.success:hover{
    border: 1px solid var(--success-dark);
    color: var(--success-dark);
}

a.button.success:active{
    border: 1px solid var(--success-dark);
    background-color: var(--success-dark);
    color: white;
}

a.button.white{
    color: white;
    border: 1px solid white;
}

a.button.white:hover{
    border: 1px solid var(--secondary);
    color: var(--secondary);
}

a.button.white:active{
    border: 1px solid var(--secondary);
    background-color: white;
    color: var(--primary);
}


/* Footer */

footer{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    height: 220px;
    padding: 20px;
    color: var(--primary-text);
    background-color: var(--primary);
}

footer div.grid{
    display: grid;
    gap: 50px;
    grid-template-columns: repeat(4, 1fr);
}

footer div.grid h1.titleLogo span{
    font-size: 10px;
}

footer div.grid a.logo{
    transition-duration: 0.3s;
    text-decoration: none;
    color: var(--primary-text);
}

footer div.grid a.logo:hover{
    color: var(--secondary-light);
}

footer div.grid h2{
    color: #cfd2ee;
    font-size: 20px;
    margin-bottom: 8px;
}

footer div.grid div ul{
    list-style: none;
    padding: 0;
}

footer div.grid div ul li{

}

footer div.grid div ul li a{
    display: block;
    transition-duration: 0.3s;
    padding: 6px 0;
    color: var(--primary-text);
    text-decoration: none;
}

footer div.grid div ul li a:hover{
    color: var(--secondary);
    margin-left: 10px;
}

footer div.grid div ul.sitemap{
    list-style: none;
    margin-top: 40px;
    padding: 0;
}

footer div.grid div ul.sitemap li a{
    display: block;
    transition-duration: 0.3s;
    text-transform: uppercase;
    font-weight: 700;
    padding: 6px 0;
    color: var(--primary-text);
    text-decoration: none;
}

footer div.grid div ul.sitemap li a:hover{
    color: var(--secondary);
    margin-left: 10px;
}

/* Icons */

.icon{
    background-size: 20px;
    background-repeat: no-repeat;
    background-position: center;
}

.icon.show-off{
    background-image: url(../imgs/icons/eye-solid.svg);
}

.icon.show-on{
    background-image: url(../imgs/icons/eye-slash-solid.svg);
}

.icon.email{
    width: 30px;
    height: 30px;
    margin: 10px;
    -webkit-mask-image: url(../imgs/icons/envelope-solid.svg);
    mask-image: url(../imgs/icons/envelope-solid.svg);
    background-color: var(--secondary-dark);
    transition-duration: 0.3s;
}

.icon.phone{
    width: 30px;
    height: 30px;
    margin: 10px;
    -webkit-mask-image: url(../imgs/icons/phone-solid.svg);
    mask-image: url(../imgs/icons/phone-solid.svg);
    background-color: var(--secondary-dark);
    transition-duration: 0.3s;
}

.icon.linkedin{
    width: 26.20px;
    height: 30px;
    margin: 10px;
    -webkit-mask-image: url(../imgs/icons/linkedin-brands.svg);
    mask-image: url(../imgs/icons/linkedin-brands.svg   	);
    background-color: var(--secondary-dark);
    transition-duration: 0.3s;
}

.icon.email:hover{
    background-color: var(--primary-dark);
}

.icon.phone:hover{
    background-color: var(--primary-dark);
}

.icon.linkedin:hover{
    background-color: var(--primary-dark);
}

.icon.logout{
    width: 22px;
    height: 22px;
    margin-left: 15px;
    -webkit-mask-image: url(../imgs/icons/right-from-bracket-solid.svg);
    mask-image: url(../imgs/icons/right-from-bracket-solid.svg);
    background-color: #fff;
    transition-duration: 0.3s;
}

.icon.logout:hover{
    background-color: var(--secondary-light);
    width: 25px;
    height: 25px;
}